<!DOCTYPE html>  
<html>
<head>
    <title>Inventory Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2-update.css')}}"/>
</head>
<body>
    <div class="split left">
        <div class="centered1">
            <h1>Update Item with Id #{{item.Id}}</h1>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered2">
            
            <form method="post" action="/postupdate">
                {% if item %}
               
                <input type="hidden" required="" id="id" name="id" value="{{item.Id}}" readonly>

                <label for="name">Name</label><br>
                <input type="text" required="" id="name" name="name" value="{{item.Name}}"><br><br>

                <label for="description">Description</label><br>
                <textarea id="description" name="description" required="" > {{item.Description}}</textarea><br><br>
        
                <label for="quantity">Quantity</label><br>
                <input type="number" id="quantity" name="quantity" value="{{item.Quantity}}" required="" ><br><br>
        
                <label for="price">Price</label><br>
                <input type="number"  step="0.01" id="price" name="price" value="{{item.Price}}" required="" ><br><br>
        
                <button class="submit_item">Update</button>
                {% endif %}
                </form>
            
        </div>
      </div>
</body>
</html>
